body{
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	line-height: 25px;
	color: #555;
	font-weight: 300;
	
}
img{
	max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Poppins', sans-serif;
	color: #333;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 10px;
	letter-spacing: 1px;
}
a{
	color: #00bbec;
}
a:hover,
a:focus{
	text-decoration: none;
}

/*START PRELOADER DESIGN*/
.preloader {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.status-mes {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    font-size: 10px;
    text-indent: -12345px;
    border-top: 3px solid rgba(0, 0, 0, 0.08);
    border-right: 3px solid rgba(0, 0, 0, 0.08);
    border-bottom: 3px solid rgba(0, 0, 0, 0.08);
    border-left: 3px solid #00bbec;
    border-radius: 50%;
    -webkit-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;
    z-index: 10000;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.section_padding{
	padding: 100px 0;
}
/* START HEADER */

#header-area {
	background: #fff;
	margin-bottom: 0;
	padding: 10px 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

.navbar-brand{
	height: auto;
	padding: 0;
}
.navbar-brand > img {
  display: block;
  margin-left: 10px;
}
.main-menu li a{
	font-size: 14.3px;
	font-weight: 500;
	text-transform: uppercase;
	transition: 0.5s;
	font-family: 'Poppins', sans-serif;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: #00bbec;
	background-color: transparent;
}
/* END HEADER */

/*
* ----------------------------------------------------------------------------------------
* 03.START HOME DESIGN
* ----------------------------------------------------------------------------------------
*/
.mbYTP_wrapper{
	
}
.welcome-area{
	margin-top: 50px;
}
.welcome-area,
.welcome-slider-area,
.welcome-slider-area div {
    height: 700px;
}

.welcome-slider-area div.single-slide-item-tablecell,
.welcome-slider-area div.single-slide-item-tablecell div {
    height: auto;
}
.single-slide-item-table {
	
    display: table;
    text-align: center;
    width: 100%;
}

.single-slide-item-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.single-slide-item {
    position: relative;
    z-index: 1;
}
.video_banner{
	position: relative;
}
.video_banner .single-slide-item-table{
	position: inherit;
	height: 100%;
}
.video_banner:after, 
.single-slide-item:after {
    position: absolute;
    background: rgba(0,0,0,0.6);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}
.video_banner:after{
	 z-index: 1;
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
    filter: alpha(opacity=0);
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    filter: alpha(opacity=100);
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.video_banner .single-slide-item-table{
	z-index: 100;
	color: #fff;
}

.video_banner h2 ,
.single-slide-item h2 
{
	color: #fff;
	font-size: 50px;
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 700;
	line-height: 64px;
}
.video_banner p,
.single-slide-item p{
    color: #fff;
    margin-bottom: 30px;
	font-size: 18px;
}


.single-slide-item .btn-home-border{
	margin-right: 20px;
}
.carousel-control{
	z-index: 1;
	background-image: none !important;
	top: 46.6%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: #fff;
	border: 1px solid #fff;
	opacity: 1;
	color: #555;
	font-size: 16px;
	font-weight: 400;
	border-radius: 50%;

}
#welcome-slide-carousel .carousel-indicators li{
	width: 15px;
	height: 15px;
	margin: 0 5px;
}
#welcome-slide-carousel .carousel-indicators .active{
	background: #75ceae;
	border-color: #75ceae;
}
.carousel-control.left{
	margin-left: 25px;	
}
.carousel-control.right{
	margin-right: 25px;	
}
.carousel-control:hover,
.carousel-control:focus{
	background: #00bbec;
	border-color: #00bbec;
}
.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
    filter: alpha(opacity=0);
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    filter: alpha(opacity=100);
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/*
* ----------------------------------------------------------------------------------------
* 03.END HOME DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 03.START BUTTON DESIGN
* ----------------------------------------------------------------------------------------
*/
.learn_more_btn,
.buy_now_btn{
	transition: .5s;
	padding: 12px 24px;
	font-weight: 600;
	text-transform: uppercase;	
	font-size: 13px;	
}
.learn_more_btn{
	background: #00bbec;
	border-color: #00bbec;
	color: #fff;
	margin-right: 20px;
}

.learn_more_btn:hover,
.learn_more_btn:focus{
	background: #fff;
	color: #555;
	border-color: #fff;
}

.buy_now_btn:hover,
.buy_now_btn:focus{
	background: #00bbec;
	border-color: #00bbec;
	color: #fff;
}
.about_btn{
	background: #00bbec;
	border-color: #00bbec;
	padding: 12px 24px;
	font-weight: 600;
    transition: .5s; 
	color: #fff;
	text-transform: uppercase;	
	font-size: 13px;	
	border-radius: 25px;
}
.about_btn:hover{
	background: #fff;
	color: #00bbec;
	border-color: #00bbec;
}
/*
* ----------------------------------------------------------------------------------------
* 03.END BUTTON DESIGN
* ----------------------------------------------------------------------------------------
*/


/* START ABOUT */
.center-block{
	float: inherit;
}
.heading{
	margin-bottom: 60px;
}
.heading h3{
	font-size: 30px;
	margin-bottom: 15px;
	text-transform: uppercase;
	
}
.heading p{
	margin-bottom: 25px;
}
.border{
	background: #00bbec;
	height: 3px;
	width: 45px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}	
#about .about_btn{
	margin-top: 20px;
}
.about-content{
	padding-top: 13%;
}
.about-content h2{
	text-transform: uppercase;
	font-size: 21px;
	margin-bottom: 17px;
}

/* END ABOUT */

/* START SERVICE */
#service{
	background: #f9f9f9;
}
.single-service{
	text-align: center;
	padding: 0 20px;
	transition: .5s;
	margin-bottom: 30px;
}
.single-service i{
	color: #fff;
	font-size: 30px;
	padding: 1px;
	background: #00bbec;
	width: 70px;
	height: 70px;
	line-height: 70px;
	border-radius: 50px;
	transition: .5s;
	
}

.single-service i:hover{
	color: #fff;
	background: #222;
}
.single-service h4{
	font-size: 20px;
	font-weight: 600;
	margin: 25px 0 15px;
}
.service_btn{
	background:#00bbec;
	padding: 16px 33px;
	font-weight: 600;
	margin-top: 100px;
	color:#fff;
	transition: .5s;
}
.service_btn:hover{
	background: #fff;
}
/* END SERVICE */


/* START PORTFOLIA */

.port-menu{
	margin-bottom: 20px;
}
.port-menu li{
	display: inline-block;
	text-align: center;
	margin: 0 8px 30px;
	color: #989898;
	border: 1px solid #ddd;
	background: transparent;
	padding: 7px 21px;
	transition: .5s;	
}

.port-menu li:hover,
.port-menu li.active{
	text-decoration: none;
	background: #00bbec;
	border-color: #00bbec;
	color: #fff;
	cursor: pointer;
}
.port-menu li{
	text-decoration: none;
	font-size: 14px;
}
.mix{
	display: none;
}

#our_work .grid-item{
	margin-top: 30px;
}

.single_our_work{

	overflow: hidden;
	text-align: left;
	transition: all 0.3s ease 0s;
}
.sing_work_photo{
	position: relative;
}

.single_our_work img{
	width: 100%;
	transition: all 0.2s ease 0s;
}

.single_our_work figure{
	margin-bottom: 0;	
}
.sing_work_text_link{
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0;
	color: #fff;
	background: rgba(0, 187, 236, 0.8) none repeat scroll 0 0;
	transition: .5s;
	opacity: 0;
	visibility: hidden;
	padding-left: 40px;
	-webkit-transform: translate(-100px, -100px);
	-moz-transform: translate(-100px, -100px);
	-o-transform: translate(-100px, -100px);
	-ms-transform: translate(-100px, -100px);
	transform: translate(-100px, -100px);
}

.sing_work_content_wrap{
	display: table;
	height: 100%;
	width: 100%;
}
.sing_work_content{
	display: table-cell;
	vertical-align: middle;
}
.sing_work_text_link h4 {
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 5px;
	text-transform: uppercase;
	margin-top: 0px;
}

.port_img{

	width: 100%;
}

.single_our_work:hover .sing_work_text_link {
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}

.single_our_work:hover .sing_work_text_link h4{
	animation: fadeInUp 1300ms ease-in-out;
}
.single_our_work:hover .sing_work_text_link p{
	animation: fadeInDown 1700ms ease-in-out;
}
.single_our_work:hover a{
	animation: fadeInDown 700ms ease-in-out;
	text-decoration: none;
}
.sing_work_text_link p{
	margin: 0 0 0px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.sing_link_img a i.fa{
	font-size: 14px;	
}


.single_our_work:hover{
	background: #32c5d2;
	color: #fff;
}
.single_our_work:hover .sing_work_text_link{
	opacity: 1;
	visibility: visible;
}
.no_padding{
	padding: 0;
}
#portfolio .about_btn{
	margin-top: 30px;
}

/* END PORTFOLIA */

/* END TEAM */

#team{
	background:#f9f9f9;
}

#team ul{
	padding: 0;
}
.single_team{
	background: #fff;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.team_image{
	position: relative;
		
	
}
.team_so_main_wrap{
	background: rgba(0,0,0,.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	overflow: hidden;
	transition: .5s;
	opacity: 0;
}
.single_team:hover .team_so_main_wrap{
	opacity: 1;
}
.team_so_wrap {
	display: table;
	height: 100%;
	width: 100%;
}

.team_image ul{
	display: table-cell;
	vertical-align: middle;
}
.team_content{
	padding: 0 15px;
}
.single_team h4{
	margin-top: 20px;
}
.single_team span {
	font-weight: 400;
	font-size: 15px;
	margin-bottom: 12px;
	display: block;
}
#team .social-link li{
	display: block;
	margin: 15px;
	padding-left: 20px;
}
#team .social-link li a{
	background: #00bbec;
	color: #fff;
	border-color: #00bbec;
	display: block;
}
#team .social-link li a:hover{
	background: #fff;
	border-color: #fff;
	color: #00bbec;
}
/* END TEAM */

/* START PRICING */
.pricing{
	background: #f9f9f9;
	padding: 50px 30px;
	margin-bottom: 30px;
}
.pricing ul{
	padding-left: 0;
	margin-bottom: 15px;
	list-style: none;
}
.pricing li{
	padding-bottom: 15px;
}
.pricing-top{
	font-weight: 700;
}
.pricing-top h4{
	padding-bottom: 8px;
	text-transform: uppercase;
}
.pricing-top p {
	padding-top: 12px;
	padding-bottom: 15px;
	
}
.pricing-top span {
	color: #00bbec;
	font-size: 40px;
	
}
.pricing-top sup{
	color: #00bbec;
	font-size: 20px;
}

.pricing-top ul li{
	list-style: none;
}
.pricing-top ul li i{
	font-size: 20px;
	color: #00bbec;
	padding-right: 10px;
}


/* END PRICING */


/* START STATITICS */
#statitics{
	position: relative;
}
#statitics:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.7);
	top: 0;
}

.single-statitics{
	color: #fff;
}
.single-statitics i{
	font-size: 40px;
	margin-bottom: 30px;
	display: block;
	color: #00bbec;
}
.single-statitics span{
	font-size: 32px;
	font-weight: bold;	
	display: block;
	margin-bottom: 30px;
}
.single-statitics h4{
	font-weight: 400;
	font-size: 18px;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
}
/* END STATITICS */


/* START BLOG */
.single-blog{
	border: 1px solid #eee;
	margin-bottom: 30px;
	
}
.single-blog-text{
	padding: 0 20px 20px;
}

.single-blog-text h3 {
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
	margin-top: 25px;	
	margin-bottom: 16px;
}
.single-blog-text h3 a{
	color: #333;;
}
.single-blog .about_btn{
	margin-top: 20px;
	margin-bottom: 10px;
}
/* END BLOG */
/* START TESTIMONIALS */

#testimonials{
	background:#f9f9f9;

}
.single-testimonial {
	padding: 0 20px ;
	transition: .5s;
	margin-bottom: 30px;
}
.single-testimonial img {
	display: inline-block;
	width: 90px;
	border-radius: 50%;
	margin: 0 0 15px;
}
.rev_rating{
	color: #fec42d;
	margin-bottom: 15px;
}
.single-testimonial h4{
	font-size: 17px;

}
.single-testimonial p{
	margin-bottom: 20px;
	font-size: 17px;
	font-style: italic;
	font-weight: 400;

}

/* END TESTIMONIALS */

/* START PARTNER */

.partner-images img{
	
}
/* END PARTNER */

/* START CONTACT */
#contact{
	padding-top: 0px;
}


.contact-form p{
	margin-bottom: 10px;
	font-size: 14px;
	margin-bottom: 30px;
}
.contact-form .form-control{
	margin-top: 10px;
	background: transparent;
	height: 45px;
	line-height: 45px;
	border-radius: 2px;
	box-shadow: inset 0 1px 15px rgba(0, 187, 236, .1);
	
}
.contact-form .form-control:focus{
	border-color: #00bbec;
	box-shadow: inset 0 1px 15px rgba(0, 187, 236, .1);
	-webkit-box-shadow: inset 0 1px 15px rgba(0, 187, 236, .1);
	-moz-box-shadow: inset 0 1px 15px rgba(0, 187, 236, .1);
	box-shadow: inset 0 1px 15px rgba(0, 187, 236, .1);
}
.message-form{
	padding-top: 10px;
}
.message-form p{
	color: #ebebeb;
	font-size: 14px;
}
.message.form-control{
	height: 182px;
}
.contact-form .learn_more_btn:hover{
	background: transparent;
	color: #00bbec;
	border-color: #00bbec;
}

/* END CONTACT */

/* START FOOTER */
.footer{
	padding: 40px 0 30px;
	border-top: 1px solid #666;
	background: #1e1e1e;
}
.copy-text p{
	color: #ccc;
	margin-top:9px;
	margin-bottom:0;
}
.social-link li{
	display: inline-block;
	margin: 0 5px;
}
.social-link li a{
	color: #ccc;
	border: 1px solid #ccc;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	transition: .5s;
}
.social-link li a:hover{
	background: #00bbec;
	border-color: #00bbec;
	color: #fff;
}
/* END FOOTER */

/* START Responsive Style */

@media only screen and (max-width:767px) { 
	.welcome-area, .welcome-slider-area, .welcome-slider-area div {
		height: 600px;
	}
	.video_banner h2,
	.single-slide-item h2
	{
		font-size: 37px;
		line-height: 54px;
	}	
	.welcome-area .carousel-control{
		display: none;
	}
   .footer{
	   text-align: center;
   }
   
  .footer .social-link  {
	float: inherit !important;
	padding-left: 0;
	margin-top: 20px;
}
}


@media only screen and (max-width:991px) { 
   .single-statitics{
	   margin-bottom: 30px;
   }
}


/* END Responsive Style */

